@font-face {
    font-family: 'HartingPlain';
    src: url('../fonts/Harting_plain-webfont.eot');
    src: url('../fonts/Harting_plain-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Harting_plain-webfont.woff') format('woff'),
         url('../fonts/Harting_plain-webfont.ttf') format('truetype'),
         url('../fonts/Harting_plain-webfont.svg#HartingPlain') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  background: #EBEEF2;
  background: -moz-linear-gradient(top,  #EBEEF2 0%, #E6F0F0 100%);
  background: -webkit-linear-gradient(top,  #EBEEF2 0%,#E6F0F0 100%);
  background: -ms-linear-gradient(top,  #EBEEF2 0%,#E6F0F0 100%);
  background: linear-gradient(to bottom,  #EBEEF2 0%,#E6F0F0 100%);

  font-family: Avenir, "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: gray;
  width: 750px;
  margin: auto;
}

h1 {
  font-family: 'HartingPlain';
  font-size: 4em;
  text-align: center;
  margin: 86px 0 45px 0;
}

h1 span {
  vertical-align: top;
  margin-left: -28px
}

h1 img {
  margin-top: -30px;
}

h2 {
  color: #9696D2;
}

section {
  margin: 10px 20px 0 20px;
  padding-top: 12px;
}

code {
  font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
  color:#ff7400;
}

code {
  padding: 0 3px;
}

pre {
  padding: 15px 0 0 20px;
  background: #EBEEF2;
  overflow: auto;
  border: solid 1px rgba(0.6, 0.6, 0.6, 0.9);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
}

pre code {
  color: #303030;
  padding: 0;
  font-size: 0.8em;
}

img {
  max-width: 100%;
}

a:link, a:visited {
  color: #9696D2;
}

footer {
  text-align: center;
}

.tagline {
  text-align: center;
  margin: -150px -79px 30px 0;
  color: #7872A8;
}

.title-section {
  padding-top: 109px;
}

#people {
  float: right;
}

#project-links {
  float: left;
}

#silhouette {
  background-image: url('../images/Alcatraz_Island@2x.png');
  background-repeat: no-repeat;
  min-height: 210px;
  width: 100%;
  background-size: 100%;
  bottom: 0;
  position: relative;
  z-index: -1;
}

#footer-content {
  position: absolute;
  bottom: 0;
  margin: 2px auto;
  color: gray;
  font-size: 0.8em;
  text-align: center;
  width: 100%;
}

@media (max-width: 700) {
  body {
    width: auto;
    min-width: 280px;
  }

  #footer-content {
    font-size: 0.8em;
  }
}

@media (max-width: 400) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.9em;
  }

  .tagline {
    font-size: 80%;
    margin-top: -20px;
    margin-right: 20px;
  }

  #people, #project-links {
    display:block;
    text-align: center;
    width: 100%;
  }

  #banner {
    display: none;
  }

  #footer-content {
    font-size: 0.7em;
  }
}